h1, h2 {
    font-family: "Oswald", sans-serif;
}
ul {
    list-style-type: none
}
li {
    display: inline;
}
body {
    color: yellow;
    font-family: "Open Sans", sans-serif;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: black;
}
img {
    float: left;
    margin-right: 10px;
}
.left {
    float: left;
    width: 300px;
}
.right {
    float: right;
    width: 300px;
}


.center {
    margin-left: 300px;
    margin-right: 300px;
}