body {
	background-image: url("https://thumbs.gfycat.com/SeparateSameAmurratsnake-size_restricted.gif"); /*gif for login page background*/
	font-family: 'Times New Roman'; font-size: 30px; /*login page font*/
   }
   .white-box { /*white box surrounding the login forms*/
	/*font and color details*/
    background-color: white;
	color: black;
	padding: 16px 16px; /*some padding*/
	width: 400px; height: 600px; margin-left: auto; margin-right: auto; 
	position: relative;
	left: 400px 
} 